[Unit]
Description=LocalCoinBot Daemon

[Service]
Environment="PATH=/home/ubuntu/localcoinbot/venv/bin"
ExecStart=/usr/bin/python3 /home/ubuntu/localcoinbot/localcoinbot.py
WorkingDirectory=/home/ubuntu/localcoinbot
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target