[Unit]
Description=LocalCoinBot Daemon
After=network.target

[Service]
User=ubuntu
Group=ubuntu
Environment="PATH=/home/ubuntu/localcoinbot/venv/bin"
ExecStart=/home/ubuntu/localcoinbot/localcoinbot.py
WorkingDirectory=/home/ubuntu/localcoinbot
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target